<a href="/">Home</a><br>
<h1>Ruby006 Blogger</h1>
<label>Last Updated: <%= Update.last.update_time.getlocal %></label><form action="/Ruby006_Blogger/all" method="post">
  <input type="submit" value="fetch new posts"></form>

<% while @day > @first_day do %>
  <h3><%= @day.strftime('%a %b %dth, %Y') %></h3>
  <ol>
    <% @entries.collect do |entry| %>
      <% if entry.date.to_date == @day %>
        <li><strong>"<a href="<%= entry.url %>" target="_blank"><%= entry.title %></a>"</strong> - by <a href="/Ruby006_Blogger/author/<%= entry.author.id %>"><%= entry.author.name %></a></li>
      <% end %>
    <% end %>
  </ol>
  <% @day -= 1 %>
<% end %>